* {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

/* Header Section */
header {
    position: sticky;
    top: 0;
    border: 1px solid rgba(219, 219, 219, 1);
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16%;
    z-index: 1000;
}

header .logo {
    height: 40px;
}

header .logo img {
    height: 100%;
    object-fit: contain;
}

header .search_bar {
    width: 250px;
    background: rgba(239, 239, 239, 1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 3px 16px;
}

header .search_bar input {
    height: 30px;
    border: none;
    outline: none;
    background: inherit;
    font-size: 17px;
    padding-left: 10px;

}

header nav ul {
    display: flex;
    align-items: center;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

header nav ul li a i {
    font-size: 25px;
    color: rgba(38, 38, 38, 1);
}

/* Sections */

section {
    background: #fafafa;
    display: flex;
    padding: 30px 18%;
}

.left_side {
    width: 65%;

}

.story {
    display: flex;
    padding: 16px;
    background: white;
    border: 1px solid rgba(239, 239, 239, 1);
    border-radius: 5px;
}

.story .stories {
    width: 17%;
}

.story .stories a img {
    border: 2px solid palevioletred;
    border-radius: 50%;
    padding: 1px;
    object-fit: cover;
}

.story .stories p {
    width: 90%;
    color: #262626;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Posts Container */
.posts {
    background: white;
    border: 1px solid rgba(219, 219, 219, 1);
    margin: 25px 0px;
    border-radius: 6px;
}

.posts .post_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.posts .post_title .post_left_side {
    display: flex;
    align-items: center;
}

.posts .post_title .post_left_side .image {
    margin-right: 15px;
}

.posts .post_title .post_left_side .image img {
    border-radius: 50%;
    object-fit: cover;
}

.posts .post_title .post_left_side .post_details .name {
    font-weight: 700;
    padding-bottom: 2px;
}

.posts .post_content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts .post_footer {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.posts .post_footer .reaction_icons i {
    font-size: 22px;
    margin-right: 10px;
}

.posts .post_footer .save_icon i {
    font-size: 22px;
}

.posts .post_footer_content {
    padding: 0px 16px 16px 16px;
}

.posts .post_footer_content p {
    margin-bottom: 3px;
}

.posts .post_footer_content .likes {
    margin-bottom: 10px;
    font-weight: 700;
}

.posts .post_footer_content .name {
    font-weight: 700;
}

.posts .post_footer_content span {
    font-weight: 400;
    margin-left: 10px;
}

.posts .post_footer_content .posting_time {
    font-size: 10px;
    color: #262626;
}

.posts .add_comment {
    padding: 16px;
    border-top: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posts .add_comment .left_side {
    display: flex;
    align-items: center;
}

.posts .add_comment .left_side i {
    font-size: 22px;
    margin-right: 15px;
}

.posts .add_comment .left_side input {
    width: 100%;
    font-size: 15px;
    border: none;
    outline: none;
}


/* Right Side */
.right_side {
    position: fixed;
    width: 35%;
    right: 30px;
    margin-top: 15px;
}

.right_side .profile_title {
    display: flex;
    align-items: center;
}

.right_side .profile_title .profile_left {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

.right_side .profile_title .profile_left .image img {
    border-radius: 50%;
    margin-right: 15px;

}

.right_side .profile_title .profile_left .details .name {
    padding-bottom: 3px;
    font-weight: 700;
}

.right_side .profile_title .profile_right p {
    color: rgb(0, 113, 243);
    font-weight: 700;
}





/* MEdia Querries */

@media (max-width : 991px) {
    header {
        padding: 10px 20px;
    }

    section .left_side {
        width: 100%;
    }

    section .right_side {
        display: none;
    }
}

@media (max-width : 768px) {
    header .search_bar {
        display: none;
    }

    section {
        padding: 30px 20px;
    }

    .story .stories {
        width: 15%;
    }
}

@media (max-width: 576px) {
    .story .stories {
        width: 21%;
    }

    header nav ul li {
        margin-right: 10px;
    }

    header nav ul li a i{
        font-size: 17px;
    }
}